*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-primary: #F0F8FF	;
    --bg-card: #1C2E45;
    --border-color: #A7C7E7;
    --txt-color: #DCEFFF;
    --bg-btn: #92B6F4;
    --btn-shadow: #4B6BAE	;
    --hover-btn: #9dcbfe;

    --font-family: "Pixelify Sans", sans-serif;
}

body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-family: var(--font-family);
    text-align: center;    
}
header h1{
    margin: 0 auto;
    font-size: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 2rem;

    color: var(--bg-primary);
}
main{
    background: var(--bg-card);
    margin: 0 auto;
    width: 40rem;
    height: 20rem;
    border-radius: 1rem;
    border: 0.25rem solid var(--border-color);
    box-shadow: 0.25rem 0.25rem 0 var(--btn-shadow);

    padding: 2rem;

}
form input{
    font-family: var(--font-family);
    background-color: var(--bg-primary);
    border: 4px solid var(--btn-shadow);
    padding: 0.75rem;
    font-size: 1rem;
    color: var(--bg-card);
    box-shadow: 0.25rem 0.25rem 0 var(--btn-shadow);
    width: 60%;
}
form button {
    font-family: var(--font-family);
    background-color: var(--bg-btn);
    border: 0.25rem solid var(--btn-shadow);
    color: var(--txt-color);
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 0 var(--btn-shadow);
    font-size: 1rem;
    margin-left: 1rem;
}

button:hover {
  background-color: var(--hover-btn);
  transform: scale(0.95);
}


#weather-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    color: var(--btn-shadow);
}

.weather-dados{
    text-align: left;
}

#weather-info span{
    font-size: 4rem;
    color: var(--txt-color);
}

.weather-img img {
  width: 150px;
  height: 150px;
  image-rendering: pixelated;
}
